doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Novias Los Gatitos | #{titulo}
        link(rel="stylesheet", href="/css/style.css")
    body 
        header 
            .logo 
                img(src="/img/logo.png", alt="Novias Los Gatitos" class="img-logo" width="70")
                .txtTitle   
                    h2 Novias Los Gatitos
            .navBar 
                a(href="/") Regresar a inicio
        main 
            .content 
                h2 SIN PERMISOS
                h3 Has iniciado sesión en la página de Novias Los Gatitos 
                br
                p Lamentablemente, no tienes los permisos necesarios para acceder a esta información
            
                a(href="/") Regresar a la página de inicio 
                br
                a(href="/auth/login") Volver a iniciar sesión 